# To validate, run:
#   'git ls-files -i --exclude-standard'

*.exe
*.dll
*.dxe
*.dylib
*.so
*.sl
*.lib
*.a
*.a[1-9]

*.ppo
*.zip
*.7z
*.dbf
*.fpt
*.cdx
*.idx
*.ntx
*.mem
*.ped
*.err
*.dif
*.pk
*.tmp
*.log
*.bkp
*.obj
*~
*~*.*
*~1.*
*~2.*
*~3.*
*~4.*
*~5.*
*~1/*
*~2/*
*~3/*
*~4/*
*~5/*

*.o
*.c
tmp*

# misc junk
.DS_Store
*.bak

